
.background_header {
    background: rgb(150,148,190);
    background: linear-gradient(90deg, rgba(150,148,190,1) 11%,
    rgba(213,208,208,1) 44%, rgba(150,148,190,1) 81%);
}
.circulo_profile {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #355883;
    text-align: center;
    margin: 10px;
    display:inline-block;
  }
  
  .iniciales {
    line-height: 1;
    position: relative;
    color: #fff;
    font-weight: 500;
  }