    <!--Educación-->
    <div class="card mat-card" id="fourth-card">
        <div class="card-titles">
            <h2>Educación</h2>
            <br>
            <ul class="item-list" style="list-style-type:none">
            <li *ngFor="let educacion of educacionList">
                <div class="data-container">
                    <div class="row">
                        <div class="col-3 sm-3 text-center">
                            <a href="#">
                                <div class="logo-image-container">
                                    <img [src]="educacion.img"/>
                                </div>
                            </a>
                        </div>
                        <div class="col-8 sm-3" style="padding-left: 40px">
                            <div class="list-info">
                                <div>
                                    <h3>{{educacion.school}}</h3>
                                    <p>{{educacion.career}}</p>
                                    <p>Estado: {{educacion.estado}}</p>
                                    <p>Promedio: {{educacion.score}}</p>
                                    <p><time>{{educacion.start}}</time> - <time>{{educacion.end}}</time></p>                                
                                </div>
                            </div>                    
                            <div class="data-control">
                                <div class="btn-edit" onclick="cambiar_parrafo()">
                                    <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            </ul>
        </div>
        <div>
            <input id="edit-acercade" type="text" oninput="myfuction2(this.value)" style="display:none">
            <input type="file" id="file1" onchange="showFile(this)" style="display:none">
        </div>
    </div>