<!--Educación-->
<div class="card mat-card" id="fourth-card">
    <div class="card-titles">
        <h2 name="educacion">Educación</h2>
        <br>
        <ul class="item-list" style="list-style-type:none">
            <li *ngFor="let educacion of educacionList">
                <div class="data-container">
                    <div class="row">
                        <div class="col-3 sm-3 text-center">
                            <a href="#">
                                <div class="logo-image-container">
                                    <img [src]="educacion.urlLogoInstitucion" />
                                </div>
                            </a>
                        </div>
                        <div class="col-7 sm-3" style="padding-left: 40px">
                            <div class="list-info">
                                <div>
                                    <h3>{{educacion.nombreInstitucion}}</h3>
                                    <p>{{educacion.carrera}}</p>
                                    <p>Estado: {{educacion.estado}}</p>
                                    <p>Promedio: {{educacion.promedio}}</p>
                                    <p><time>{{educacion.inicio}}</time> - <time>{{educacion.fin}}</time></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 sm-3 data-control">
                            <div class="btn-edit"  data-bs-toggle="modal" data-bs-target="#editarEducacion">
                                <a class="btn-right"><i class="fa fa-edit"></i></a>
                            </div>
                            <div class="btn-edit" data-bs-toggle="modal" data-bs-target="">
                                <a class="btn-right"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
        <!-- Modal -->
        <div class="modal fade" id="editarEducacion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Eduacion - Editar</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!--inicio body-->
                    <div class="modal-body">
                    <!--Institución-->
                        <form class="row g-3 needs-validation" novalidate>
                            <div class="col-md-12 position-relative">
                                <label for="validationTooltip01" class="form-label">Institución:</label>
                                <input type="text" class="form-control" id="validationTooltip01" value="" required>
                            <div class="invalid-tooltip">
                                ingrese un dato valido
                            </div>
                        </div>
                        <!--Carrera-->
                        <div class="col-md-12 position-relative">
                            <label for="validationTooltip01" class="form-label">Carrera:</label>
                            <input type="text" class="form-control" id="validationTooltip01" value="" required>
                             <div class="valid-tooltip">
                                 Looks good!
                             </div>
                             <div class="col-md-12 position-relative">
                                <label for="validationTooltip02" class="form-label">Título</label>
                                <input type="text" class="form-control" id="validationTooltip02" value="" required>
                                <div class="invalid-tooltip">
                                    ingrese un dato válido
                                </div>
                              </div>
                         </div>
                         <!--Estado-->
                        <div class="col-md-4 position-relative">
                            <label for="validationTooltip04" class="form-label">Estado:</label>
                            <select class="form-select" id="validationTooltip04" required>
                                <option selected disabled value="">Elija Opción</option>
                                <option>Aprobado</option>
                                <option>Cursando</option>
                            </select>
                            <div class="invalid-tooltip">
                                Seleccione una opcion
                            </div>
                        </div>
                        <!--promedio-->
                        <div class="col-md-4 position-relative">
                            <label for="validationTooltip01" class="form-label">Promedio:</label>
                            <input type="text" class="form-control" id="validationTooltip01" value="" required>
                             <div class="invalid-tooltip">
                                 ingrese un dato válido
                             </div>
                         </div>
                         <!--Fecha Inicio y Fin-->
                         <div class="col-md-12 position-relative">
                            <mat-form-field appearance="outline">
                              <mat-label>Ingrese Fechas de Inicio - Fin</mat-label>
                              <mat-date-range-input [rangePicker]="picker">
                                <input matStartDate formControlName="fechaInicio" placeholder="Start date">
                                <input matEndDate formControlName="fechaFin" placeholder="End date">
                              </mat-date-range-input>
                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-date-range-picker #picker></mat-date-range-picker>
                            </mat-form-field>
                          </div>         
                    </form>                    
                    </div>
                    <!--fin body-->
                    <div class="modal-footer">              
                        <button type="button" class="btn btn-success" data-bs-dismiss>Guardar cambios</button>                            
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>                        
                    </div>
                </div>
            </div>
        </div>


