    <!--Proyectos-->
    <div class="card mat-card" id="six-card">
        <div class="card-titles">
            <h2>Proyectos</h2>
            <!--Proyecto:
                Fecha de realización:
                Descripción:
                Link:
                Imagenes:
            -->
            <div class="btn-edit" onclick="cambiar_parrafo()">
                <a href="#" class="btn-right">
                    <i class="fa fa-pen"></i>
                </a>
            </div>
        </div>
        <div>
            <p id="text-acercade">Full Stack Jr Developer</p>
        </div>
        <div>
            <input id="edit-acercade" type="text" oninput="myfuction2(this.value)" style="display:none">
            <input type="file" id="file1" onchange="showFile(this)" style="display:none">
        </div>
    </div>