<div class="card mat-card" id="first-card">
    <div id="profile-background"><img [src]="miPortfolio.backgroundImage"/></div>
    <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>  
    <div class="btn-edit"><a href="#" class="btn-right"><i class="fa-solid fa-trash-can"></i></a></div>
    <div id="info" style="padding: 16px">
        <div id="info-img">
            <img class="profile-image" [src]="miPortfolio.image">
            <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>                
        </div>
        <div id="info-data">
            <div>
                <h1>{{miPortfolio.name}}</h1>
                <div id="info-company">{{miPortfolio.position}}</div>
                <div id="info-contact">
                    <span>{{miPortfolio.ubicacion}}</span>
                    <span><a href="#"> Información de Contacto</a></span>
                </div>
            </div>
            <ul id="info-details" style="list-style-type:none">
                <li><a href="#">
                        <img src="assets/img/ISPC_logo.png">
                        <h6 style="color:black">ISPC - Instituto Superior Politécnico Córdoba</h6>
                </a></li>
                <li><a href="#">
                        <img src="assets/img/APLogo-20-20(1).png">
                        <h6 style="color:black">Argentina Programa - 2da Edición #Yo Programo</h6>
                </a></li>
            </ul>
        </div>
        <div id="info-actions">
            <button class="button" class="btn btn-primary">Tengo Interés en</button>
            <button class="button" class="btn btn-ligth">Añadir Sección</button>
            <button class="button" class="btn btn-ligth">Más</button>
        </div>
    </div>
</div>
