<div class="card mat-card" id="third-card">
    <div class="card-titles">
        <h2>Experiencia</h2>
        <br>
        <ul class="item-list" style="list-style-type:none">
            <li *ngFor="let experiencia of experienciaList">
                <div class="data-container">
                    <div class="row">
                        <div class="col-3 sm-3 text-center">
                            <div class="logo-image-container">
                                <img [src]="experiencia.img" />
                            </div>
                        </div>
                        <div class="col-8 sm-3" style="padding-left: 40px">
                            <div class="list-info">
                                <div>
                                    <h3>{{experiencia.empresa}}</h3>
                                    <p>{{experiencia.puesto}}</p>
                                    <p>{{experiencia.descripcion}}</p>
                                    <p><a [href]="experiencia.url">{{experiencia.url}}</a></p>
                                    <p><time>{{experiencia.start}}</time> - <time>{{experiencia.end}}</time></p>
                                </div>
                            </div>                
                            <div class="data-control">
                                <div class="btn-edit" onclick="cambiar_parrafo()">
                                    <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div>
    <input id="edit-acercade" type="text" oninput="myfuction2(this.value)" style="display:none">
    <input type="file" id="file1" onchange="showFile(this)" style="display:none">
</div>
